#app{
  margin-top:20px;
  margin-bottom:30px;
}

#name1 {
  width:130px;
  height:30px;
  overflow: hidden;
  text-align:left;
  font-size: 22px;
}
.food-body{
  width:80%;
  margin: auto;
}
#food-description {
  text-align: left;
  font-size: 16px;
}

#date1 {
  width:130px;
  height:30px;
  overflow: hidden;
  text-align:right;
  font-size: 15px;
}
#count{
  margin-left:35px;

}

.material-input {
  height:31px;
}

#navbg{
  background-color:#d5d5d5;
  font-weight:bold;
  margin: 0;
}

body{
  background-color:#ffdddd;
}